/* VARIABLES */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
.btn {
  width: 200px;
  height: 50px;
  border: 2px solid #17DAA2;
  border-radius: 25px;
  background: #17DAA2;
  font-size: 16px;
  color: #FFFFFF;
  font-weight: 700;
  transition: 0.3s ease;
  cursor: pointer;
}

.btn:hover {
  background: #FFFFFF;
  color: #17DAA2;
}

.header {
  height: 100vh;
  width: 100%;
  padding-top: 40px;
  padding-left: 200px;
  padding-right: 200px;
  background: url(../images/header-bg/pexels-stein-egil-liland-5740842.jpg) top right no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -o-object-fit: contain;
     object-fit: contain;
  color: #FFFFFF;
}

.header .nav {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.header .nav .logo {
  font-size: 32px;
  -ms-flex: 1;
      flex: 1;
}

.header .nav .logo span {
  font-size: 32px;
  color: #17DAA2;
}

.header .nav .nav-words {
  -ms-flex: 3;
      flex: 3;
  text-align: center;
  position: relative;
}

.header .nav .nav-words ul {
  position: absolute;
  right: 0;
  text-align: center;
}

.header .nav .nav-words ul li {
  display: inline-block;
  margin-left: 60px;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 12px;
  cursor: pointer;
}

.header .nav .search-log {
  -ms-flex: 1;
      flex: 1;
  max-width: 100px;
  padding-left: 60px;
}

.header .nav .search-log input[type=text] {
  background-color: transparent;
  border: none;
  color: #FFFFFF;
  font-family: 'Lato', sans-serif;
}

.header .nav .search-log input[type=text]:-ms-input-placeholder {
  color: white;
}

.header .nav .search-log input[type=text]::placeholder {
  color: white;
}

.header-content {
  width: 100%;
  height: 100%;
  position: relative;
}

.header-content .container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1000px;
  margin: 0 auto;
  /* Carousel */
  /* Next / Prev Buttons */
  /* Pagination */
}

.header-content .container .carousel-item > div {
  height: 400px;
  font-size: 1.5em;
  text-align: center;
  color: #fff;
  padding-top: 160px;
}

.header-content .container .carousel-item > div span {
  font-weight: 400;
}

.header-content .container .carousel-item > div h1 {
  font-weight: 100;
}

.header-content .container .carousel-item > div p {
  margin-top: 20px;
  font-size: 16px;
}

.header-content .container .carousel {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.header-content .container .carousel-container {
  list-style: none;
  overflow: hidden;
  padding: 0;
  margin: 0;
  width: 500%;
  transition: transform 0.3s cubic-bezier(0.694, 0.0482, 0.335, 1);
}

.header-content .container .carousel-item {
  position: relative;
  float: left;
  width: 20%;
}

.header-content .container .carousel-prev,
.header-content .container .carousel-next {
  position: absolute;
  top: 50%;
  background-color: transparent;
  opacity: 0.7;
  border-radius: 50%;
  color: #fff;
  font-size: 32px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  line-height: 40px;
  transform: translate(0, -50%);
  text-align: center;
  z-index: 10;
  transition: opacity 0.3s ease;
}

.header-content .container .carousel-prev i,
.header-content .container .carousel-next i {
  position: absolute;
  z-index: 15;
}

.header-content .container .carousel-prev {
  left: 2%;
  padding-right: 3px;
}

.header-content .container .carousel-prev::before {
  content: '\f053';
  font-family: "FontAwesome";
}

.header-content .container .carousel-next {
  right: 2%;
  padding-left: 3px;
}

.header-content .container .carousel-next::before {
  content: '\f054';
  font-family: "FontAwesome";
}

.header-content .container .carousel-prev:hover,
.header-content .container .carousel-next:hover {
  opacity: 1;
}

.header-content .container .carousel-pagination {
  list-style: none;
  position: absolute;
  bottom: 3%;
  left: 0;
  right: 0;
  width: 50%;
  padding: 0;
  margin: 0 auto;
  text-align: center;
  z-index: 10;
}

.header-content .container .carousel-bullet {
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: #000;
  cursor: pointer;
  margin: 0 7px;
  border-radius: 50%;
  opacity: 0.5;
  transition-property: transform, opacity, background-color;
  transition-duration: 0.3s;
}

.header-content .container .carousel-bullet:hover {
  transform: scale(1.3);
}

.header-content .container .carousel-bullet.active-bullet,
.header-content .container .carousel-bullet.active-bullet:hover {
  opacity: 1;
  transform: scale(1.3);
  background-color: #fff;
  cursor: default;
}

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.wrapper {
  width: 100%;
  min-height: 1000px;
}

.about-us {
  min-height: 80vh;
  width: 100%;
  padding: 80px 200px 0 200px;
  margin: 0 auto;
}

.about-us .btn-sec {
  width: 100%;
  text-align: center;
  margin: 80px 0;
}

.about-us .btn-sec button {
  display: inline-block;
}

.about-us .sec-header {
  text-align: center;
  margin-bottom: 80px;
}

.about-us .sec-header h2 {
  font-size: 48px;
  font-weight: 300;
  color: #61686d;
}

.about-us .sec-header h2::after {
  content: '';
  display: block;
  border-bottom: 2px solid #17DAA2;
  margin-top: 20px;
  width: 20px;
  text-align: center;
  margin: 40px auto;
}

.about-us .sec-header p {
  color: #9DA9B1;
}

.about-us article {
  width: 100%;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-align: center;
      align-items: center;
}

.about-us .point {
  height: 80%;
  width: 300px;
  padding: 0 20px;
}

.about-us .point .logo {
  border-radius: 50%;
  width: 160px;
  height: 160px;
  background: #d6d7d8;
  margin: 40px auto;
  position: relative;
}

.about-us .point h3 {
  text-align: center;
  font-weight: 400;
}

.about-us .point p {
  margin-top: 40px;
  text-align: center;
  color: #9DA9B1;
}

.about-us .first .logo::before {
  content: '\f135';
  font-family: "FontAwesome";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
  color: #5f6368;
}

.about-us .second .logo {
  background: #17DAA2;
}

.about-us .second .logo::before {
  content: '\f5d2';
  font-family: "FontAwesome";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
  color: #FFFFFF;
}

.about-us .third .logo::before {
  content: '\f201';
  font-family: "FontAwesome";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
  color: #5f6368;
}

.about-us .fourth .logo::before {
  content: '\f19d';
  font-family: "FontAwesome";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
  color: #5f6368;
}

/* ANOTHER ABOUT-US SECTION */
.about-us-two,
.about-us-three {
  min-height: 60vh;
  padding: 0 200px 0 200px;
  display: -ms-flexbox;
  display: flex;
}

.about-us-two .sec-image,
.about-us-three .sec-image {
  -ms-flex: 1;
      flex: 1;
  padding-top: 120px;
}

.about-us-two .sec-image img,
.about-us-three .sec-image img {
  height: 200px;
  width: 260px;
}

.about-us-two article,
.about-us-three article {
  -ms-flex: 1;
      flex: 1;
  padding-top: 80px;
}

.about-us-two article h2,
.about-us-three article h2 {
  text-align: left;
  margin-bottom: 40px;
  font-size: 48px;
  font-weight: 300;
  color: #61686d;
}

.about-us-two article p,
.about-us-three article p {
  margin-bottom: 80px;
  color: #9DA9B1;
}

.about-us-two {
  background: #f0f0f0;
}

.about-us-three {
  background: #FFFFFF;
}

.about-us-three .sec-image img {
  float: right;
  height: 200px;
  width: 343px;
}

.about-us-four {
  min-height: 60vh;
  width: 100%;
  background: url(../images/carousele-img/office.jpg) top right no-repeat;
  background-size: cover;
  -o-object-fit: contain;
     object-fit: contain;
  position: relative;
  /* Carousel */
  /* Next / Prev Buttons */
  /* Pagination */
}

.about-us-four::before {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  opacity: 0.8;
  background: black;
  position: absolute;
  top: 0;
  left: 0;
}

.about-us-four .container-about-us {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1000px;
  margin: 0 auto;
}

.about-us-four .carousel-item-about-us > div {
  height: 400px;
  font-size: 1.5em;
  text-align: center;
  color: #fff;
  padding-top: 160px;
}

.about-us-four .carousel-item-about-us > div span {
  font-weight: 400;
}

.about-us-four .carousel-item-about-us > div h1 {
  font-weight: 100;
}

.about-us-four .carousel-item-about-us > div p {
  margin-top: 20px;
  font-size: 16px;
}

.about-us-four .carousel-about-us {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.about-us-four .carousel-container-about-us {
  list-style: none;
  overflow: hidden;
  padding: 0;
  margin: 0;
  width: 500%;
  transition: transform 0.3s cubic-bezier(0.694, 0.0482, 0.335, 1);
}

.about-us-four .carousel-item-about-us {
  position: relative;
  float: left;
  width: 20%;
}

.about-us-four .carousel-about-us-prev,
.about-us-four .carousel-about-us-next {
  position: absolute;
  top: 50%;
  background-color: transparent;
  opacity: 0.7;
  border-radius: 50%;
  color: #fff;
  font-size: 32px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  line-height: 40px;
  transform: translate(0, -50%);
  text-align: center;
  z-index: 10;
  transition: opacity 0.3s ease;
}

.about-us-four .carousel-about-us-prev i,
.about-us-four .carousel-about-us-next i {
  position: absolute;
  z-index: 15;
}

.about-us-four .carousel-about-us-prev {
  left: 2%;
  padding-right: 3px;
}

.about-us-four .carousel-about-us-prev::before {
  content: '\f053';
  font-family: "FontAwesome";
}

.about-us-four .carousel-about-us-next {
  right: 2%;
  padding-left: 3px;
}

.about-us-four .carousel-about-us-next::before {
  content: '\f054';
  font-family: "FontAwesome";
}

.about-us-four .carousel-about-us-prev:hover,
.about-us-four .carousel-about-us-next:hover {
  opacity: 1;
}

.about-us-four .carousel-pagination-about-us {
  list-style: none;
  position: absolute;
  bottom: 3%;
  left: 0;
  right: 0;
  width: 50%;
  padding: 0;
  margin: 0 auto;
  text-align: center;
  z-index: 10;
}

.about-us-four .carousel-bullet-about-us {
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: #000;
  cursor: pointer;
  margin: 0 7px;
  border-radius: 50%;
  opacity: 0.5;
  transition-property: transform, opacity, background-color;
  transition-duration: 0.3s;
}

.about-us-four .carousel-bullet-about-us:hover {
  transform: scale(1.3);
}

.about-us-four .carousel-bullet-about-us.active-bullet,
.about-us-four .carousel-bullet-about-us.active-bullet:hover {
  opacity: 1;
  transform: scale(1.3);
  background-color: #fff;
  cursor: default;
}
/*# sourceMappingURL=style.css.map */