.about-us {
    min-height: 80vh;
    width: 100%;
    margin: 0 auto;

    .btn-sec {
        width: 100%;
        text-align: center;
        margin: 2 * $margin-basic 0;

        button {
            display: inline-block;
        }
    }

    .sec-header {
        text-align: center;
        margin-bottom: 2 * $margin-basic;

        h2 {
            font-size: $font-size-h2;
            font-weight: $light;
            color: $color-h1;
            &::after {
                content: "";
                display: block;
                border-bottom: 2px solid $color-main;
                margin-top: $margin-basic / 2;
                width: 20px;
                text-align: center;
                margin: $margin-basic auto;
            }
        }

        p {
            color: $color-p;
        }
    }

    article {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .point {
        height: 80%;
        width: 300px;
        padding: 0 20px;
        .logo {
            border-radius: 50%;
            width: 160px;
            height: 160px;
            background: $color-logo-bg;
            margin: $margin-basic auto;
            position: relative;
        }

        h3 {
            text-align: center;
            font-weight: $regular;
        }

        p {
            margin-top: $margin-basic;
            text-align: center;
            color: $color-p;
        }
    }

    .first {
        .logo {
            &::before {
                content: "\f135";
                font-family: "FontAwesome";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: $font-size-logo;
                color: $color-logo;
            }
        }
    }

    .second {
        .logo {
            background: $color-main;

            &::before {
                content: "\f5d2";
                font-family: "FontAwesome";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: $font-size-logo;
                color: $color-white;
            }
        }
    }

    .third {
        .logo {
            &::before {
                content: "\f201";
                font-family: "FontAwesome";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: $font-size-logo;
                color: $color-logo;
            }
        }
    }

    .fourth {
        .logo {
            &::before {
                content: "\f19d";
                font-family: "FontAwesome";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: $font-size-logo;
                color: $color-logo;
            }
        }
    }
}

/* ANOTHER ABOUT-US SECTION */

.about-us-two,
.about-us-three {
    min-height: 60vh;
    padding: 0 $padding-side 0 $padding-side;
    display: flex;

    .sec-image {
        display: flex;
        flex: 1;

        img {
            margin: 0;
            display: block;
            height: 416px;
            width: 520px;
        }
    }

    article {
        flex: 1;
        padding-top: 30px;

        h2 {
            text-align: left;
            margin-bottom: $margin-basic;
            font-size: $font-size-h2;
            font-weight: $light;
            color: $color-h1;
        }

        p {
            margin-bottom: 2 * $margin-basic;
            color: $color-p;
        }
    }
}

.about-us-two {
    background: $color-gray;

}

.about-us-three {
    background: $color-white;


    .sec-image {
        padding-top: 60px;
        justify-content: flex-end;

        img {
            margin: 0;
            height: 200px;
            width: 343px;
        }
    }
}

/* ANOTHER ABOUT-US SECTION */

.about-us-four {
    min-height: 60vh;
    width: 100%;
    background: $carousel-photo top right no-repeat;
    background-size: cover;
    background-attachment: none;
    object-fit: contain;
    position: relative;

    .carousel-cell{
        padding-top: 60px;
    }

    &::before {
        content: "";
        display: block;
        height: 100%;
        width: 100%;
        opacity: 0.8;
        background: black;
        position: absolute;
        top: 0;
        left: 0;
    }

        .item-photo {
            height: 90px;
            width: 90px;
            background-color: $color-gray;
            margin: 0 auto;
            border-radius: 50%;
            margin-bottom: $margin-basic;
            background-image: $slider-photo;
            background-position: center;
            background-size: cover;
            object-fit: cover;

            img {
                height: 94px;
                width: 75px;
            }
        }

        span {
            color: $color-main;
        }

        h1 {
            font-weight: $thin;
            padding-left: 80px;
            padding-right: 80px;
        }

        p {
            margin-top: 20px;
            font-size: $font-size-p;
            color: $color-p;
        }
    }
@media (max-width: 992px){
    .about-us-four{
        min-height: 100vh;
    }
}
    

@media (max-width: 425px) {
    .about-us {
        .sec-header {
            margin-bottom: $margin-basic;
        }

        .point {
            height: 80%;
            width: 300px;
            padding: 0 20px;

            p{
                margin-top: $margin-basic/2;
                margin-bottom: $margin-basic + 20px;
            }
            .logo {
                width: 100px;
                height: 100px;

                &::before {
                    font-size: $font-size-logo - 12px;
                }
            }
        }
    }

    .about-us-two,
    .about-us-three {
        min-height: 60vh;
        display: flex;

        .sec-image {
            flex: 1;

            img {
                margin: auto;
                height: 208px;
                width: 260px;
            }
        }

        article {
            flex: 1;
            padding-top: 0;
            text-align: center;

            h2 {
                text-align: center;
            }

            p {
                text-align: center;
            }
        }
    }

    .about-us-two {
        background: $color-gray;

        article{
            order: 1;
        }

        .sec-image{
            margin-top: $margin-basic;
            order: 2;
        }
    }

    .about-us-three {
        background: $color-white;

        .sec-image {
            padding-top: 60px;

            img {
                margin: auto;
                height: 150px;
                width: 257px;
            }
        }
    }

    .about-us-four{
        


        h1{
            padding-left: 20px;
            padding-right: 20px;
        }

        .carousel-cell{
            height: 500px;
            padding-top: 60px;
        }
    }
}
