.about-us{
    min-height: 80vh;
    width: 100%;
    padding: 80px $padding-side 0 $padding-side;
    margin: 0 auto;
    
    .btn-sec{
        width: 100%;
        text-align: center;
        margin: 2 * $margin-basic 0 ;

        button{
            display: inline-block;
        }
    }

    .sec-header{
        text-align: center;
        margin-bottom: 2 * $margin-basic;

        h2{
            font-size: $font-size-h2;
            font-weight: $light;
            color: $color-h1;
            &::after{
                content: '';
                display: block;
                border-bottom: 2px solid $color-main;
                margin-top: $margin-basic / 2;
                width: 20px;
                text-align: center;
                margin: $margin-basic auto;
            }
        }

        p{
            color: $color-p;
        }
    }

    article{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .point{
        height: 80%;
        width: 300px;
        padding: 0 20px;
        .logo{
            border-radius: 50%;
            width: 160px;
            height: 160px;
            background: $color-logo-bg;
            margin: $margin-basic auto; 
            position: relative;
        }

        h3 {
            text-align: center;
            font-weight: $regular;
        }

        p{
            margin-top: $margin-basic;
            text-align: center;
            color: $color-p;
        }
    }

    .first{

        .logo{
            &::before{
                content: '\f135';
                font-family: "FontAwesome";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: $font-size-logo;
                color: $color-logo;
            }
        }
    }

    .second{

        .logo{

            background: $color-main;

            &::before{
                content: '\f5d2';
                font-family: "FontAwesome";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: $font-size-logo;
                color: $color-white;
            }
        }
    }

    .third{

        .logo{
            &::before{
                content: '\f201';
                font-family: "FontAwesome";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: $font-size-logo;
                color: $color-logo;
            }
        }
    }

    .fourth{

        .logo{
            &::before{
                content: '\f19d';
                font-family: "FontAwesome";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: $font-size-logo;
                color: $color-logo;
            }
        }
    }

}

/* ANOTHER ABOUT-US SECTION */

.about-us-two,
.about-us-three{
    min-height: 60vh;
    padding: 0 $padding-side 0 $padding-side;
    display: flex;

    .sec-image{
        flex: 1;
        padding-top: 120px;

        img{
            height: 200px;
            width: 260px;
        }
    }

    article{
        flex: 1;
        padding-top: 80px;

        h2{
            text-align: left;
            margin-bottom: $margin-basic;
            font-size: $font-size-h2;
            font-weight: $light;
            color: $color-h1;
        }

        p{
            margin-bottom: 2 * $margin-basic;
            color: $color-p;
        }
    }
}


.about-us-two{
    background: $color-gray;
}

.about-us-three{
    background: $color-white;

    .sec-image{

        img{
            float: right;
            height: 200px;
            width: 343px;
        }
    }
}

.about-us-four{
    min-height: 60vh;
    width: 100%;
    background: $carousel-photo top right no-repeat;
    background-size: cover;
    object-fit: contain;
    position: relative;

    &::before{
        content: '';
        display: block;
        height: 100%;
        width: 100%;
        opacity: 0.8;
        background: black;
        position: absolute;
        top: 0;
        left: 0;
    }

    /* Carousel */
    .container-about-us{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 1000px;
        margin: 0 auto;
    }

    .carousel-item-about-us > div {
        height: 400px;
        font-size: 1.5em;
        text-align: center;
        color: #fff;
        padding-top: 160px;
    
        span{
            font-weight: $regular;
        }
    
        h1{
            font-weight: $thin;
        }
    
        p{
            margin-top: 20px;
            font-size: $font-size-p;
        }
    }


.carousel-about-us {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel-container-about-us {
    list-style: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
    width: 500%;
    transition: transform 0.3s cubic-bezier(.694, .0482, .335, 1);
}

.carousel-item-about-us {
    position: relative;
    float: left;
    width: 20%;
}

/* Next / Prev Buttons */

.carousel-about-us-prev,
.carousel-about-us-next {
    position: absolute;
    top: 50%;
    background-color: transparent;
    opacity: 0.7;
    border-radius: 50%;
    color: #fff;
    font-size: 32px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    line-height: 40px;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    z-index: 10;
    transition: opacity 0.3s ease;
    
    i{
        position: absolute;
        z-index: 15;
    }
}

.carousel-about-us-prev {
    left: 2%;
    padding-right: 3px;
}

.carousel-about-us-prev::before {
    content: '\f053';
    font-family: "FontAwesome";
}

.carousel-about-us-next {
    right: 2%;
    padding-left: 3px;
}

.carousel-about-us-next::before {
    content: '\f054';
    font-family: "FontAwesome";
}

.carousel-about-us-prev:hover,
.carousel-about-us-next:hover {
    opacity: 1;
}

/* Pagination */

.carousel-pagination-about-us {
    list-style: none;
    position: absolute;
    bottom: 3%;
    left: 0;
    right: 0;
    width: 50%;
    padding: 0;
    margin: 0 auto;
    text-align: center;
    z-index: 10;
}

.carousel-bullet-about-us {
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: #000;
    cursor: pointer;
    margin: 0 7px;
    border-radius: 50%;
    opacity: 0.5;
    transition-property: transform, opacity, background-color;
    transition-duration: 0.3s;
}

.carousel-bullet-about-us:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.carousel-bullet-about-us.active-bullet, 
.carousel-bullet-about-us.active-bullet:hover {
    opacity: 1;
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    background-color: #fff;
    cursor: default;
}

}

