footer{
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: $margin-basic * 2;
    color: $color-p;

    > div{
        flex-grow: 1;
        flex-basis: 50%;
    }

    .copyright{
        
        &::before{
            content: '\f1f9';
            font-family: 'FontAwesome';
            color: black;
            margin-right: $margin-basic / 2;
        }
    }
}

@media(max-width: 768px){
    footer{
        padding-left: 0;
        text-align: center;
    }
}