.header{
    height: 200px;
    padding-top: 40px;

    .nav{
        display: flex;
        flex-direction: column;

        .logo{
            font-size: $font-size-h1;
            flex: 2;
        }
        .nav-words{
            flex: 1;
        }
    }
}