/* VARIABLES */

$color-main: #17DAA2;
$color-hover: #03d3eb;
$color-black: #333;
$color-gray: #f0f0f0;
$color-white: #FFFFFF;
$color-h1: #61686d;
$color-p: #9DA9B1;
$color-logo-bg: #d6d7d8;
$color-logo: #5f6368;

$thin: 100;
$light: 300;
$regular: 400;
$bold: 700;
$black: 900;

$header-photo: url(../images/header-bg/pexels-stein-egil-liland-5740842.jpg);
$carousel-photo: url(../images/carousele-img/office.jpg);
$slider-photo: url(../images/employers/menago.jpg);
$pre-footer-photo: url(../images/pre-footer-bg/start-up.jpg);

$padding-side: 200px;
$margin-basic: 40px;

$font-size-h1: 32px;
$font-size-h2: 48px;
$font-size-h3: 12px;
$font-size-p: 16px;
$font-size-logo: 48px;


.btn{
    width: 200px;
    height: 50px;
    border: 2px solid $color-main;
    border-radius: 25px;
    background: $color-main;
    font-size: 16px;
    color: $color-white;
    font-weight: $bold;
    transition: 0.3s ease;
    cursor: pointer;
    &:hover{
        background: $color-white;
        color: $color-main;
    }
}

.btn2{
    max-width: 220px;
    min-height: 50px;
    border: 2px solid $color-main;
    background: $color-main;
    font-size: 16px;
    color: $color-white;
    font-weight: $bold;
    text-transform: uppercase;
    transition: 0.3s ease;
    text-align: left;
    padding-left: 10px;
    letter-spacing: 3px;
    cursor: pointer;

    &:hover{
        background: $color-white;
        color: $color-main;
    }
}