/* VARIABLES */

$color-main: #17DAA2;
$color-black: #333;
$color-gray: #FAFAFA;
$color-white: #FFFFFF;
$color-h1: #7C8790;
$color-p: #9DA9B1;
$color-logo: #8995A1;

$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-black: 900;

$font-size-h1: 32px;
$font-size-h2: 32px;
$font-size-p: 16px;


